*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*----------------------------------------------------------------------------------------*/
html,body {
    height: 100%;
	min-width: 320px;
}
body {
    font-family: Poppins;
    line-height: 1;
    color: rgba(124, 124, 124, 0.4);
    font-size: 16px;
}
[class*="__container"] {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header__container {
    display: flex;
    gap: 131px;
    align-items: center;
    padding: 5px 15px;
    min-height: 152px;
}
.header__list {
    display: flex;
    gap: 56px;
    background-color: rgb(255, 255, 255, 0.5) ;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}
.header__link {
    color: rgba(18, 18, 18, 0.4);
    font-weight: 500;
}
.header__link:hover {
    color: rgb(27, 27, 27);
}

.page {
    flex: 1 1 auto;
}
.about__container{
    display: flex;
    margin-bottom: 80px;
}
.about__content {
    padding-top: 120px; 
    padding-bottom: 60px;
    flex: 0 1 50%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.about__title {
    color: #121212;
    font-size: 56px;
    line-height: 1.2; 
    font-weight: 700;
    margin-bottom: 32px;  
}
 span {
    color: #FF6428;
}
.about__text {
    font-weight: 600;
    max-width: 420px;
    margin-bottom: 32px;
    line-height: 1.5;
    color: rgba(18, 18, 18, 0.7);
}
.about__action {
    display: flex;
    align-items: center;
    gap: 30px;
}
.about__action a {
    padding: 25px 45px;
    background-color: #FF6428;
    border-radius: 35px;
    color: blanchedalmond;
    font-weight: 500;
}
.about__action a:hover {
    background-color:#c24817 ;
}
.about__decor {
    position: relative;
    margin-right: -135px;
    max-width: 672px;
}
.about__decor img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.about__decor:after {
    content: "";
    position: absolute;
    background-image: url(../img/main/decor.svg);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    right: 36.3%;
    bottom: -40px;
}

.store {
    padding: 90px 5px;
}
.store__container {
}
.store__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.title {
    margin-bottom: 80px;
    font-size: 44px;
    text-align: center;
    color: #121212;
    font-weight: 700;
}
.store__header_board {
    color: #121212;
    font-weight: 600;
    font-size: 24px;
}
.store__header_all {
    color:rgba(18, 18, 18, 0.7) ;
    font-weight: 600;
    font-size: 20px;
}
.store__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 54px; 
}
.store__item {
    display: grid;
}
.store__item_image {
    margin-bottom: 40px;
    position: relative;
}
.store__item_image:hover.store__item_image::after {
    content: "";
    top: 0px;
    right: 0px;
    position: absolute;
    background: linear-gradient( rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    width: 100%;
    height: 100%;
    border-radius: 3%;
}
.store__item_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.store__item_title {
    justify-self: start;
    margin-bottom: 12px;
    color: #121212;
    font-weight: 500;
}
.store__item_title:hover {
    text-decoration: underline;
}
.store__item_price {
    color:rgba(18, 18, 18, 0.6) ;
    font-weight: 500;
}

.categories {
    padding: 90px 5px;
}
.categories__container {
}
.categories__title {
    font-size: 44px;
    color: #121212;
    font-weight: 700;
    margin-bottom: 80px;
    text-align: center;
}
.categories__items {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    gap: 70px;
}
.categories__item {
    position: relative;
}
.categories__item_title {
    position: absolute;
    z-index: 3;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 20px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
}
.categories__item_image {
    position: relative;
    overflow: hidden;
    padding-bottom: 127%;
    border-radius: 25px;
}
.categories__item_image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}
.categories__item_image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}
.categories__item:hover .categories__item_image img {
  transform: scale(1.1);
}

.brands {
    padding: 90px 5px;
}
.brands__items {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-around;
    row-gap: 45px;
}

.why {
    padding-top: 80px;
    padding-bottom: 90px;
    background-color: #121212;
}
.why__title {
    color: aliceblue;
    margin-bottom: 50px;
}
.why__items {
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: space-between;
    gap: 30px;
}
.why__item {
    display: grid;
    justify-items: center;
    padding: 20px;
    text-align: center;
}
.why__item_image {
    padding: 20px;
    background-color: rgba(78, 72, 72, 0.521) ;
    border-radius: 20px;
}
.why__item_title {
    padding: 20px;
    color: aliceblue;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.08em;
}
.why__item_text {
    line-height: 1.5;
}

.reviews {
    padding: 120px 5px;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.reviews__swiper_wrapper {
   margin: 0 auto;
}
.swiper-reviews__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-swiper-reviews__picture {
    overflow: hidden;
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.slide-swiper-reviews__image {
    width: 320px;
    height: 320px;
    position: relative;
}
.slide-swiper-reviews__image::before {
    content: "";
    position: absolute;
    width: 285px;
    height: 257px;
    top: 50px;
    left: -80px;
    transform: rotate(-10deg);
    background-color: #FF6428;
    border-radius: 40px 0px 400px 400px;
}
.slide-swiper-reviews__image img {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.reviews__swiper_body {
    flex: 0 1 50%;
}
.reviews__swiper_coment {
    font-size: 24px;
    color: #302e2ed8;
    line-height: 160%;
    padding-bottom: 30px;
  
}
.reviews__swiper_author {
}
.reviews__swiper_name {
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: #000;
    padding-bottom: 5px;
}
.reviews__swiper_position {
    color: #868686;
    font-size: 18px;
    letter-spacing: 0.08em;
    font-weight: 500;
    text-transform: uppercase;
}

.favorite {
    padding: 120px 5px;
}
.favorite__container {
}
.favorite__content {
    display: flex;
}
.favorite__body {
    flex: 50%;
    align-self: center;
}
.favorite__title {
    text-align: left;
font-size: 48px;
line-height: 140%;
}
.favorite__logo {
    display: flex;
    justify-content:flex-start;
    gap: 30px;
}
.favorite__image {
    flex: 0 1 50%;
    text-align: center;
}
.favorite__picture img {
    max-width: 100%;
}

.footer {
    padding: 30px 5px;
    background-color: #f1e9e9e0;
}
.footer__container {
    display: flex;
    flex-direction: column;
}
.footer__body {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding: 45px 0px;
}
.footer a:hover {
    text-decoration: underline;
}
.footer__column_logo img {
    margin-bottom: 28px;
}
.footer__column_contact {
    margin-bottom: 16px;
}
.footer__column_mail {
    margin-bottom: 16px;
}
.mail__link {
    color: #3f3c3cde;
    background: url('../img/footer/sms.svg') left no-repeat;
    padding-left: 35px;
}
.location__link {
    padding-left: 35px;
    color: #3f3c3cde;
    background: url('../img/footer/location.svg') left no-repeat;
}
.navigations {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    gap: 180px;
}
.navigations__title {
    text-transform: uppercase;
    color: #121212;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 12px;
}
.navigations__item {
    margin-bottom: 16px;
}
.navigations__link {
    color: #3f3c3cde;
}
.footer__column_title {
    text-transform: uppercase;
    color: #121212;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 12px;
}
.follow__us_items{
    display: flex;
    gap: 30px;
}
.follow__us_link img:hover {
 margin-top: 5px;
}
.footer__copy {
    padding: 10px 0px;
    margin: 0 auto;
    color: #3f3c3cde;
}

.swiper-pagination {
	display: flex;
	transform: translate(0px,-100%);
	justify-content: flex-end;
}
 .swiper-pagination-bullet{
	opacity: 1;
	background: #C4C4C4;
	border-radius: 20px;
	flex: 0 0 10px;
	height: 16px;
	transition: all 0.3s ease 0s;
}
 .swiper-pagination-bullet-active{
	background: #FF6428;
	flex: 0 0 24px;
}